  <!-- sidebar.ejs -->
  
  <div class="sidebar"  data-image="images/back.jpg">
    <div class="logo">
      <a  class="simple-text logo-normal" style="font-family: 'Lato', sans-serif; font-size: 18px; color: white;">
        ASTRONOMIC DASHBOARD
      </a>
    </div>
    <div class="sidebar-wrapper style="height: 100%;">
      <ul class="nav">
        <li class="nav-item active"> 
          <a class="nav-link" href="/">
            <i class="material-icons" style="font-size: 30px; color: white;">dashboard</i>
            <p style="color: white; font-size: 16px;">Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">
            <i class="material-icons" style="font-size: 30px; color: white;">star</i>
            <p style="color: white; font-size: 16px;">Events</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asteroids">
            <i class="material-icons" style="font-size: 30px; color: white;">bubble_chart</i>
            <p style="color: white; font-size: 16px;">Asteroids</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sun">
            <i class="material-icons" style="font-size: 30px; color: white;">wb_sunny</i>
            <p style="color: white; font-size: 16px;">Sun</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weather">
            <i class="material-icons" style="font-size: 30px; color: white;">wb_cloudy</i>
            <p style="color: white; font-size: 16px;">Weather</p>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <style>
    .sidebar {
      position: fixed;
      z-index: 4;
      width: 275px;
      height: 100%;
      background-image: url("images/back.jpg");
      background-size: cover; 
      background-position: center; 
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      opacity: 0.7; 
    }
  </style>
